Write a Python notebook that generates a file containing the following data:

•Email addresses

•Phone numbers

•Home Address

•Person's name

•Year born. Use realistic values.

•Number of kids. Use realistic values.

•Categorical variable: rent or own?

•Annual income. Optional challenge: Use a non-uniform distribution

•Number of speeding tickets in past year. Optional challenge: Use a non-uniform distribution

User of your notebook should be able to specify how many entities are to be generated.

Generate data in 2 of the following 3 formats: XML, CSV, or JSON. Your choice!

Order of columns in CSV is not relevant.

In [15]:
from faker import Faker  # library for randomly generating fake data. to install: conda install -c conda-forge faker
import numpy as np
import pandas as pd
import time

def fake_data_generater(record_num):
    fake = Faker('en_US')    
    data = []
    
    # generate entity and put it into list
    for i in range(record_num):
        email = fake.email()
        phone = fake.phone_number()
        address = fake.street_address() + " " + fake.city() + ", " + fake.state() + " " + fake.zipcode()
        name = fake.name()
        bdate = fake.date_of_birth(tzinfo=None, minimum_age=18, maximum_age=80)
        kids = np.random.randint(low = 0, high = 8) 
        rent = np.random.randint(low = 0, high = 2) 
        if rent == 1:
            rent_or_own = "Rent"
        else:
            rent_or_own = "Own"

        # Use a non-uniform distribution for income
        income_list = [10000, 20000, 30000, 40000, 50000, 60000, 70000, 80000, 90000, 100000]
        incomes = np.random.choice(income_list, 1, p=[0.2, 0.2, 0.1, 0.1, 0.1, 0.075, 0.075, 0.075, 0.05, 0.025])
        income = incomes[0]

        # Use a non-uniform distribution for ticket
        tickets = np.random.choice(10, 1, p=[0.025, 0.15, 0.2, 0.2, 0.1, 0.075, 0.075, 0.05, 0.075, 0.05])
        ticket = tickets[0]

        data.append({"Email addresses" : email,
                "Phone number" : phone,
                "Home address": address,
                "Name" : name,
                "Birth date" : bdate,
                "Number of kids" : kids,
                "Rent or Own" : rent_or_own,
                "Annual Income" : income,
                "Number of speeding tickets in past year" : ticket})
        
    
    file_data = pd.DataFrame(data)
    display(file_data)
    file_data.astype(str).to_csv("fake_data.csv", sep=",", index=False)
    file_data.astype(str).to_json('fake_data.json', orient='records', date_format='iso')
    print ("Files created.")
    
    

if __name__ == '__main__':        
    start_time = time.time()
    record_num = input("Enter number of entities for data files:")
    fake_data_generater(int(record_num))
    print("%s seconds" % (time.time() - start_time))

Enter number of entities for data files:100000

,Email addresses,Phone number,Home address,Name,Birth date,Number of kids,Rent or Own,Annual Income,Number of speeding tickets in past year
0,qnguyen@spears.com,487-795-3782x594,"23367 Wade Parkways Lake Cameronville, Colorad...",Laura Mooney,1953-11-03,0,Own,60000,2
1,lauraperry@lambert-chavez.com,556-145-2866x202,"9476 Cooley Point Port Christina, Iowa 85195",Ralph Randolph,1988-12-02,2,Rent,10000,8
2,michael68@gonzales-collins.com,385.115.5829,"517 Perez Plain Apt. 565 East Jeffreymouth, Wy...",Jamie Griffith,1961-04-13,4,Own,60000,4
3,danielhughes@gmail.com,0727912865,"907 Elizabeth Radial Hamiltonport, New Hampshi...",Nicholas Allen,1973-04-17,2,Own,90000,3
4,cynthiamoses@jones.biz,(917)181-4010,"2500 Heidi Cape Elizabethtown, Iowa 53664",Brenda Martinez,1997-10-06,6,Rent,70000,6
...,...,...,...,...,...,...,...,...,...
99995,davidgrimes@gmail.com,001-814-292-0180x66203,"706 Kathleen Grove Apt. 701 Annaville, Louisia...",Jason Anderson,1956-03-13,4,Rent,20000,7
99996,burnetterin@sanchez.biz,082-499-7219x42304,"63297 James Club Suite 129 East Adam, Delaware...",Samantha Monroe,1956-07-12,5,Own,80000,2
99997,nortega@yahoo.com,772-872-6976x51472,"089 Kristen Landing Thompsonmouth, Michigan 17735",Shane Mack,1977-05-23,5,Own,10000,3
99998,marystewart@zimmerman.info,918-694-1409x018,"59642 Massey Loaf South Travisfort, New Jersey...",Brenda Mcfarland,1979-09-06,6,Rent,20000,1
99999,tsimpson@melendez.com,(552)399-8034x24443,"513 Natalie Landing Stewartview, Kentucky 74807",Melissa Sullivan,1945-09-04,7,Rent,40000,5

Files created.
86.83356523513794 seconds

In [16]:
from faker import Faker  # library for randomly generating fake data. to install: conda install -c conda-forge faker
import numpy as np
import pandas as pd
import time

def fake_data_generater(record_num):
    fake = Faker('en_US')    
    data = []
    income_list = [10000, 20000, 30000, 40000, 50000, 60000, 70000, 80000, 90000, 100000]
    p1=[0.2, 0.2, 0.1, 0.1, 0.1, 0.075, 0.075, 0.075, 0.05, 0.025]
    p2=[0.025, 0.15, 0.2, 0.2, 0.1, 0.075, 0.075, 0.05, 0.075, 0.05]
    
    # generate entity and put it into list
    for i in range(record_num):
        email = fake.email()
        phone = fake.phone_number()
        address = fake.street_address() + " " + fake.city() + ", " + fake.state() + " " + fake.zipcode()
        name = fake.name()
        bdate = fake.date_of_birth(tzinfo=None, minimum_age=18, maximum_age=80)
        kids = np.random.randint(low = 0, high = 8) 
        rent = np.random.randint(low = 0, high = 2) 
        if rent == 1:
            rent_or_own = "Rent"
        else:
            rent_or_own = "Own"

        # Use a non-uniform distribution for income
        incomes = np.random.choice(income_list, 1, p=p1)
        income = incomes[0]

        # Use a non-uniform distribution for ticket
        tickets = np.random.choice(10, 1, p=p2)
        ticket = tickets[0]

        data.append({"Email addresses" : email,
                "Phone number" : phone,
                "Home address": address,
                "Name" : name,
                "Birth date" : bdate,
                "Number of kids" : kids,
                "Rent or Own" : rent_or_own,
                "Annual Income" : income,
                "Number of speeding tickets in past year" : ticket})
        
    
    file_data = pd.DataFrame(data)
    display(file_data)
    file_data.astype(str).to_csv("fake_data.csv", sep=",", index=False)
    file_data.astype(str).to_json('fake_data.json', orient='records', date_format='iso')
    print ("Files created.")
    
    

if __name__ == '__main__':        
    start_time = time.time()
    record_num = input("Enter number of entities for data files:")
    fake_data_generater(int(record_num))
    print("%s seconds" % (time.time() - start_time))

Enter number of entities for data files:100000

,Email addresses,Phone number,Home address,Name,Birth date,Number of kids,Rent or Own,Annual Income,Number of speeding tickets in past year
0,kmack@gmail.com,(900)915-7651,"53612 Sean Corner Cervantesberg, Kentucky 76184",Candice Wilson,1951-08-06,1,Own,50000,2
1,michaelanderson@yahoo.com,+1-632-860-8211x224,"374 White Trail Apt. 464 Meganmouth, Massachus...",Stephanie Vaughn,1948-12-20,3,Own,40000,9
2,phillipsbrian@hotmail.com,661.800.5089,"1573 Fitzgerald Trail Rachaelborough, South Ca...",Larry Thornton,1984-11-24,1,Rent,10000,2
3,jgraham@gmail.com,001-032-443-0713x2352,"0419 Perez Flat Hollyburgh, Delaware 10401",Eric Woodward,1973-01-06,0,Own,50000,9
4,yolanda64@yahoo.com,5806026412,"14355 Tucker Junctions Apt. 844 New William, O...",Chad Walter,1941-04-22,7,Own,40000,9
...,...,...,...,...,...,...,...,...,...
99995,morrissharon@gmail.com,442.063.0675,"3839 Anthony Fork Suite 045 West Christie, Col...",Ann Gomez,1939-10-23,2,Rent,20000,8
99996,jackiejimenez@yahoo.com,4506133505,"68635 Knapp Creek New Timothyside, New Hampshi...",Cynthia Adams,1944-11-18,2,Rent,40000,8
99997,mreed@levine.org,700.688.9331,"665 Oscar Highway Apt. 185 Teresamouth, Arizon...",Evelyn Ramirez,1943-03-13,5,Rent,50000,3
99998,salazarchristine@cameron.com,+1-461-214-1562x4456,"702 Mary Viaduct Mitchellborough, Arizona 69899",Kristopher Edwards,1960-01-10,0,Own,50000,2
99999,wreyes@yahoo.com,001-597-746-8459,"3893 Zachary Course Apt. 193 North Clifford, W...",Brandon Jackson,1999-12-15,2,Rent,60000,6

Files created.
87.87849545478821 seconds